@import '../../@theme/styles/themes';
@import '~@nebular/theme/styles/global/breakpoints';
@import '~bootstrap/scss/mixins/breakpoints';

@include nb-install-component() {
  ngx-echarts-pie,
  ngx-echarts-bar,
  ngx-echarts-line,
  ngx-echarts-multiple-xaxis,
  ngx-echarts-area-stack,
  ngx-echarts-bar-animation,
  ngx-echarts-radar {
    display: block;
    height: nb-theme(card-height-medium);
    width: 100%;
  }

  /deep/ .echart {
    height: 100%;
    width: 100%;
  }
}


ngx-timepicker-field {
  background: nb-theme(color-fg);
}

div > input {
  margin: 2px;
}
